.header {
    padding: 30px;
    text-align: center;
    background-color: aquamarine;
    color: white; 
    font-size: 64px; 
    
}   

#pos { 
    position: relative; 
    left: 50px; 
}

#pos2 { 
    position: relative; 
    left: 50px;
    top: 200px; 
}
.down { 
    position:relative;
    top: 10px; 
    left: 100px; 
    background-color: lightblue;
}

.image { 
    border-color: black;
    border: 10px solid #555; 
}

.info {
    font-size: 36px;
}

section { 
    display:flex; 
}