/* for all */
.header {
    padding: 30px;
    text-align: center;
    background-color: aquamarine;
    color: white; 
    font-size: 64px; 
    
}   

#cr { 
    position:absolute;
    bottom: 0;
}

/* for index */
#pos { 
    position: relative; 
    left: 50px; 
}

#pos2 { 
    position: absolute; 
    right: 100px;
    /* top: 200px;  */
}

.down { 
    position:relative;
    top: 10px; 
    left: 100px; 
    background-color: lightblue;
}

.image { 
    border-color: black;
    border: 10px solid #555; 
}

.info {
    font-size: 36px;
}

section { 
    display:flex; 
}

#spread { 
    justify-content: space-between;
}

.skilltable { 
    margin:0 auto;

}